<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="projectFolder" value="D:\021. JagerTrain\src\Project" />
    <sc.variable name="configurationFolder" value="serialization" />
    <unicorn>
      <configurations>
        <configuration 
					name="Hackathon.Boilerplate.Project.Demo" 
					description="Hackathon.Boilerplate.Project.Demo templates and renderings" 
					dependencies="Foundation.*"
				>
          <targetDataStore
            physicalRootPath="$(projectFolder)\Demo\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Project/Demo"/>
            <include name="Pages" database="master" path="/sitecore/content/Home"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
