<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Hackathon.Boilerplate.Foundation.Serialization" 
					description="Hackathon.Boilerplate.Foundation.Serialization templates and renderings" 
					dependencies="Foundation.*"
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Serialization\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Hackathon.Boilerplate/Foundation/Serialization"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Hackathon.Boilerplate/Foundation/Serialization"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
